@font-face {
    font-family: VAGRoundedStd-Bold;
    src: local('VAGRoundedStd-Bold'), url("@/fonts/VAGRoundedStd/VAGRoundedStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: OpenSans-Semibold;
    src: local('OpenSans-Semibold'), url("@/fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
}