@font-face {
    font-family: "VAG Rounded Light";
    src:url("../assets/fonts/VAGRoundedStd/VAGRoundedStd-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #F0F0F0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    align-items: center;
    justify-items: center;
}

.card {
    grid-row: 1;
    grid-column: 1;


}

.texture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    border-radius: 42px;
    pointer-events: none;

    border: 0.855px solid #D9D9D9;

    background-image: url('./backgroundTexture.png');
    background-size: 85% 85%;
    background-repeat: repeat;
    opacity: 15%;
    mix-blend-mode: soft-light;
}

.gradient {
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.header__title {
    color: var(--Colors-Black, #000);
    text-align: center;
    font-family: "VAG Rounded Light";
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 1.1px;
    text-transform: capitalize;
}

.header__subtitle {
    color: #606060;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: fit-content;

    border: 2px solid white;
    padding: 20px 12px 12px 12px;
    border-radius: 42px;

    background: linear-gradient(123deg, rgba(255, 255, 255, 0.60) 12.29%, rgba(249, 249, 249, 0.56) 28.94%, rgba(224, 224, 224, 0.40) 90.97%);
    box-shadow: 0 3px 30px -1.711px rgba(78, 78, 78, 0.20);
    backdrop-filter: blur(20px);
}

.image-container {
    border: 2px solid white;
    padding: 16px 24px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

image {
    width: 225px;
    height: 225px;
    background-color: green;
}

.gradient {
    width: 214.279px;
    height: 326.486px;
    transform: rotate(-46.149deg);
    flex-shrink: 0;

    border-radius: 326.486px;
    background: radial-gradient(65.35% 66.61% at 50% 50%, var(--Colors-Purple-100, #998EBD) 0%, var(--colors-purple-0, rgba(153, 142, 189, 0.00)) 100%);
}