:root {
    --light: #dfdbd2;
    --dark: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: 100%;
}

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2rem;
}

.intro,
.outro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
}

.intro h1,
.outro h1 {
    width: 50%;
    text-align: center;
}

.spotlight {
    background-color: var(--dark);
    color: var(--light);
}

.spotlight-images,
.spotlight-cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    will-change: transform;
}

.spotlight-intro-header,
.spotlight-outro-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.spotlight-intro-header {
    z-index: 1;
}